


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
}


nav {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav a:hover {
    background: #575757;
}


.content {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #007BFF;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

/* Misión y Visión */
.mission-vision {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.mission, .vision {
    background: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
