body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f8ff; /* Azul muy claro para el fondo del body */
}

header {
    background-color: #2E86C1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #1A5276;
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin: 0;
}

nav {
    background-color: #1A5276;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    flex-grow: 1;
    background-color: white;
}

.content h2 {
    color: #2E86C1;
}

.content p {
    color: #34495e; /* Azul oscuro para el texto */
    background-color: transparent;
}

.modalidades {
    margin-top: 20px;
    background-color: transparent; /* Asegúrate de que no haya fondo de color negro */
}

.modalidades h3 {
    color: #1A5276;
    background-color: transparent; /* Sin fondo */
}

.modalidades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalidades th, .modalidades td {
    border: 1px solid #3498db; /* Cambiado a azul */
    padding: 10px;
    text-align: left;
}

.modalidades th {
    background-color: #3498db; /* Azul más claro */
    color: white;
}

.modalidades td {
    background-color: #ecf0f1; /* Gris muy claro */
}

.mission-vision {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.mission, .vision {
    width: 48%;
    background-color: #e6f2ff;
    padding: 15px;
    border-radius: 5px;
}

.mission h3, .vision h3 {
    color: #1A5276;
}

footer {
    background-color: #2E86C1;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Asegúrate de que todos los elementos relacionados tengan fondos transparentes */
body, .modalidades, .modalidades h3, .modalidades th, .modalidades td {
    background-color: transparent !important;
}
